/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --color-primary-darkdeep: #3a3939;
  --color-primary-dark: #313030;
  --color-primary-lightdark: #424242;
  --font-color-while: #dbdbdb;
}

.Container {
  height: 100vh;
  width: 100%;
  background-color: var(--color-primary-lightdark);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  z-index: 1;
}

nav {
  width: 100%;
  min-height: 120px;
  background-color: var(--color-primary-darkdeep);
  border: none;
  display: flex;
  align-items: center;
  padding: 10px 4rem;
  position: relative;
  z-index: 0;
}

.icon-ground {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  z-index: 1;
  gap: 5px;
}

.icon-item {
  height: 100%;
  max-width: 120px;
  position: relative;
  cursor: pointer;
  z-index: 2;
  display: inline-block;
}

.icon-item:first-child {
  margin-left: 0;
}

.icon-item:before {
  content: "beer fah";
  position: absolute;
  opacity: 0.5;
  visibility: hidden;
  height: auto;
  width: max-content;
  transform: scale(0.5);
  border: 0;
  padding: 0 5px;
  font-size: 14px;
  background-color: #fff;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0) scale(0.96);
  z-index: 9999;
  transition: transform 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.icon-item:hover img.circle-imge {
  border-color: #90ff72;
}
.icon-item:hover:before {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, 150%) scale(1);
  transition: opacity 100ms cubic-bezier(0.165, 0.84, 0.44, 1),
    visibility 100ms ease,
    transform 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.icon-item:first-child {
  margin-left: 0;
}

.icon-item > img.main-icon {
  width: 100%;
  height: 100%;
  object-fit: fill;
  opacity: 0.5;
  z-index: -1;
}

.icon-item img.circle-imge {
  position: absolute;
  width: 60%;
  height: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  object-fit: cover;
  z-index: 999;
  transition: all 200ms ease;
  border: 2px solid black;
}

.Main {
  width: 100%;
  height: 100%;
  padding-top: 55px;
  padding-bottom: 25px;
}

.group-video {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(22rem, 348px);
  gap: 30px;
}

.video-card {
  display: flex;
  background-color: transparent;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  border: none;
  background-color: var(--color-primary-darkdeep);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  user-select: none;
  transition: all 0.1s ease;
  border-radius: 5px;
  padding-bottom: 10px;
}

.video-card:hover .video-titel {
  color: #fff;
}

.video-card:hover .video img {
  transform: scale(1.1);
}

.video {
  width: 100%;
  height: 60%;
  background-color: #a5a3a3b0;
  border-radius: 5px;
  overflow: hidden;
}

.video img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
  transition: all 0.25s ease;
}

.video-titel {
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  color: var(--font-color-while);
  font-size: 18px;
  text-align: center;
  height: auto;
  font-weight: 500;
  margin-bottom: 10px;
  text-decoration: underline;
  text-decoration-color: #424242;
  line-height: 1.8em; /*? 24px  */
}

.box-view-time {
  display: flex;
  flex-wrap: nowrap;
  flex-shrink: 0;
  flex-grow: 1;
  justify-content: space-evenly;
  align-items: center;
}

.time,
.view {
  display: flex;
  gap: 10px;
  align-items: center;
}

:is(.time, .view) p {
  color: var(--font-color-while);
  font-size: 22px;
}

@media screen and (max-width: 982px) {
  .group-video {
    width: 90%;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 55px;
  }
  .video-titel {
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 648px) {
  .group-video {
    grid-template-columns: 1fr;
    padding-bottom: 55px;
    grid-auto-rows: minmax(24rem, 348px);
  }
  .icon-item img.circle-imge {
    width: 70%;
    height: 70%;
  }

  nav {
    width: 100%;
    min-height: 120px;
    padding: 10px 5px;
  }

  .video-titel {
    font-size: 20px;
  }
}
